@import url('https://fonts.googleapis.com/css?family=Muli:300,400,700');

body { 
  
  font-family: 'Muli', sans-serif; font-weight: 300; color: #ffffff;
  background-color: #233348;  
  margin: 0;
  
}

@media screen and (min-device-width: 320px) and (max-device-width: 640px) {

header {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}

header a.logo {
    
    position: absolute;
    display: block;
    width: 73vw;
    height: 12vw;
    background: url(images/logo.svg) no-repeat; 
    background-size: contain;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
    
}

#home {
    
    height: 75vw;
    background-image: url(images/Mobile_home.jpg); 
    background-size: cover;
    position: relative;

}

#classes {
    
    height: 58vw;
    background-image: url(images/classes.jpg); 
    background-size: cover;
    position: relative;

}

#join {
    
    height: 58vw;
    background-image: url(images/join.jpg); 
    background-size: cover;
    position: relative;

}

#homeinfo {
    
    padding-top: 75vw;
    
}
    


#classinfo {
    
    padding-top: 60vw;
    padding-bottom: 23vw;
    background-color: #ffffff;
        
}

#joininfo {
    
    padding-top: 60vw;
    padding-bottom: 23vw;
    background-color: #ffffff;   
}

.pictures {
    
    display: none;
    
}
    
.bottompicture {
    
    display: none;
    
}


h1 {
    
    display: none;
    
}

h2 {
    
    padding-top: 3vw;
    text-align: center;
    line-height: 1.25em;
    font-size: 3.25em;  
    font-weight: 400;
    letter-spacing: .1em;
    
    
}

h3 {
    
    color: #000000;
    font-size: 2.25em;
    margin-left: 10vw;
    margin-right: 10vw;
    font-weight: 700;

}

h4 {
    
    font-size: 1.25em;
    letter-spacing: .1em;
    color: rgba(0,0,0,.7);    
}

h5 {
    
    display: none;
    
} 
    
h6 {
    
    display: none;
    
}     

p {
    
    color: #000000;
    text-align: left;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 1.25em; 
    font-weight: 300;
    line-height: 2.1em;   
        
}

.button {
    
    font-size: 3.25em;
    font-weight: 400;  
    letter-spacing: .08em;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-radius: .2em;
    padding: .5em .9em;
    opacity: .95;
    text-align: center;
    position: absolute;  
    left: 50%;
    transform: translate(-50%);
    margin-top: 28vw;  
       
}

.class {
    
    color: #ffffff;
    
}

/* CSS slide-out navigation origianlly by Bryan Robinson: https://bryanlrobinson.com/blog/2017/08/02/css-only-mobile-slide-out-navigation/ */

#nav-toggle {
    
  position: absolute;
  opacity: 0;
  display: none;
    
}

.menu {
    
  position: fixed;
  right: -100%;
  top: 0;
  height: 100%;
  width: 50vw;
    
}

#nav-toggle ~ label {
    
  display: block;
  content: url(images/hamburger.svg);
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1.27);
  width: 60px;
  
}

#nav-toggle:checked ~ label {
    
    -webkit-transform: translateX(-50vw);
    transform: translateX(-50vw);
    
}

#nav-toggle:checked ~ label {
      
    content: url(images/X.png)
        
}
    
.toggle-words {
    
  display: none;

}
#nav-toggle:checked ~ .menu {
    
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);

}

.menu {
    
  cursor: pointer;
  background-color: #f9d97f;
    opacity: 0.95;
  transition: .53s transform;
  transition-timing-function: cubic-bezier(0.38, 0.52, 0.37, 1);

}
.menu ul {
    
  padding: 0;
  margin-top: 7em;
  margin-left: 1.5em;

}
.menu li {
    
  list-style: none;

}
.menu li a {
  
  text-decoration: none;
  font-size: 3.5em;
  letter-spacing: .1em;
  color: #ffffff;
  padding: 50px;
  display: block;
  font-weight: 700;
    
}

.hamburger {
    
  position: fixed;
  top: 45px;
  right: 45px;
  display: inline-block;
  z-index: 1;  
    
}

.title {
    
  position: fixed;
  top: 50vw;
  left: 15vw;
  
}
    
.hometitle {
        
    width: 100%;
    position: fixed;
    margin-top: 75vw;
    text-align: center;
        
}   

.title h2 {
  
    line-height: 1em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    
}

form {
    
    font-size: 2.25em;
    letter-spacing: .1em;
    margin-left: 10vw;
    margin-right: 10vw;
    color: #000000;
}

input {
    
    width: 80vw;
    height: 2em;
    margin-top: 1em;
    margin-bottom: 1.5em;
    border-radius: .25em;
    border: none;
    
}
    
input[type="text"], textarea {

  background-color: rgba(0,0,0,.07)

} 

label { 
    
    display: block; 
    
}

footer {
    
    height: 23vw;
    background-color: #233348;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
    
    
footer div.content {
    
    width: 86vw;
    height: 10vw;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0px;

}

.col {
    
    margin-right: 9vw;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background: url(images/phone.png) no-repeat;
    background-size: contain;
    opacity: 0.8;       
    
}
    
.phone {
        
    display: none;

}
    
.email {
        
    display: none;
    
}

.col2 {
    
    margin-right: 9vw;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background: url(images/email.png) no-repeat;
    background-size: contain;
    opacity: 0.8;
    font-size: 0;
    
}

.col3 {
    
    margin-right: 9vw;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background: url(images/facebook.png) no-repeat;
    background-size: contain;
    opacity: 0.8;
     
}

.col4 {
    
    margin-right: 9vw;
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background: url(images/twitter.png) no-repeat;
    background-size: contain;
    opacity: 0.8;
    
}

.col5{
    
    display: inline-block;
    width: 10vw;
    height: 10vw;
    background: url(images/instagram.png) no-repeat;
    background-size: contain;
    opacity: 0.8;
    
}

}

@media screen and (min-device-width: 641px) and (max-width: 1023px) {

.page  {
        
    position: absolute;
    width: 100%;
    height: 100%;
        
}

header {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    
}

header a.logo {
    
    position: absolute;
    display: block;
    width: 43vw;
    height: 7vw;
    background: url(images/logo.svg) no-repeat; 
    background-size: contain;
    top: 5vw;
    left: 7vw;
    margin-right: auto;
    z-index: 1;
    
}

#home {
    
    height: 78vw;
    background-image: url(images/Tablet_home.jpg); 
    background-size: cover;
    position: relative;
    
}
      
#homeinfo {
    
    display: inline-block;
    padding-top: 85vw;
    text-align: center;
    
}
    
#classes {
    
    height: 58vw;
    background-image: url(images/classes.jpg); 
    background-size: cover;
    position: relative;

}
    
#classinfo {
    
    padding-top: 63vw;
    padding-bottom: 23vw;
    background-color: #ffffff;
        
}   

#join {
    
    height: 58vw;
    background-image: url(images/join.jpg); 
    background-size: cover;
    position: relative;

}
    
#joininfo {
    
    padding-top: 63vw;
    padding-bottom: 21vw;
    background-color: #ffffff;
    
}   
    
.pictures {
    
    display: none;
    
}
    
.bottompicture {
    
    display: none;
    
}

  
h1 {
    
    display: none;
    
}

h2 {
    
    text-align: center;
    line-height: 1.25em;
    font-size: 3.25em;  
    font-weight: 400;
    letter-spacing: .1em;
    margin: 0;
    padding: 0;
    
}

h3 {
    
    color: #000000;
    font-size: 2.25em;
    margin-left: 12vw;
    margin-right: 12vw;
    font-weight: 700;
    margin-bottom: .7em;
    
}
    
h4 {
    
    color: rgba(0,0,0,.7);
    font-size: 1.25em;
    margin-top: .5em;
    margin-bottom: 1em;
    
}
 
h6 {
    
    margin-top: 26vh;
    color: #ffffff;
    font-size: 1.25em;
    letter-spacing: .08em;
    font-weight: 300;
    line-height: 1.25em;
    opacity: .4;
    
}
    
p {
    
    color: #000000;
    text-align: left;
    margin-left: 12vw;
    margin-right: 12vw;
    font-size: 1.4em; 
    font-weight: 300;
    line-height: 2em;   
        
}

.button {
    
    font-size: 2.5em;
    font-weight: 400;  
    letter-spacing: .08em;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-radius: .2em;
    padding: .5em .9em;
    opacity: .95;
    text-align: center;
    position: absolute; 
    left: 50%;
    transform: translate(-50%);
     
}
      
.hamburger {
    
    margin-top: 13.5vw;    
    position: fixed;
    text-align: center;   
    width: 100%;
       
}
    
.menu {
    
       
    display: inline-block;
    text-align: center;
        
}
    
nav {
    
    position: relative;
    
}
    
nav ul {
        
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;        
        
}
    
nav ul li a {
        
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    font-size: 1.4em;
    letter-spacing: .12em;
    text-align: center;
    text-decoration: none;
    width: 150px;
        
 }
     
li {
    
    float: left;
         
} 
    
#nav-toggle {
    
   position: absolute;
   opacity: 0;
   display: none;
    
}

.title {
    
   position: fixed;
   top: 50vw;
   left: 15vw;
  
}
    
.hometitle {
        
    width: 100%;
    position: fixed;
    margin-top: 55vw;
    text-align: center;
        
}

.title h2 {

    line-height: 1em;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
     
}
    
form {
    
    font-size: 1.5em;
    letter-spacing: .1em;
    margin-left: 12vw;
    margin-right: 12vw;
    color: #000000;
    
}

input {
    
    width: 76vw;
    height: 1.5em;
    margin-top: .4em;
    margin-bottom: 1em;
    border-radius: .25em;
    border: none;
}
    
input[type="text"], textarea {

  background-color: rgba(0,0,0,.07)

} 

label { 
    
    display: block; 
    
}

footer {
    
    height: 15vw;
    background-color: #233348;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
    
footer div.content {
      
    width: 75vw;
    height: 15vw;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0em;
    text-align: center;      
    
}
    
.email {
        
    display: none;
    
}

.col2 {
    
    margin-top: 3vw;
    margin-right: 9vw;
    display: inline-block;
    width: 9vw;
    height: 9vw;
    background: url(images/email.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
    font-size: 0;
    
}

.col3 {
    
    margin-top: 3vw;
    margin-right: 9vw;
    display: inline-block;
    width: 9vw;
    height: 9vw;
    background: url(images/facebook.png) no-repeat;
    background-size: contain;
    opacity: 0.7;   
    
}

.col4 {
    
    margin-top: 3vw;
    margin-right: 9vw;
    display: inline-block;
    width: 9vw;
    height: 9vw;
    background: url(images/twitter.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
    
}

.col5 {
    
    margin-top: 3vw;
    display: inline-block;
    width: 9vw;
    height: 9vw;
    background: url(images/instagram.png) no-repeat;
    background-size: contain;
    opacity: 0.7;
    
}   
   
}

@media screen and (min-width: 1024px) {
       
 .page  {
        
    position: absolute;
    width: 100%;
    height: 100%;
        
}   

header {
    
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
      
}

header a.logo {
    
    position: absolute;
    display: block;
    width: 25vw;
    height: 4vw;
    background: url(images/logo.svg) no-repeat; 
    background-size: contain;
    top: 5vw;
    left: 7vw;
    margin-right: auto;
       
}

#home {
    
    height: 58vw;
    background-image: url(images/home.jpg); 
    background-size: cover;
    position: relative;

}

#classes {
    
    height: 58vw;
    background-image: url(images/classes.jpg); 
    background-size: cover;
    position: relative;

}

#join {
    
    height: 58vw;
    background-image: url(images/join.jpg); 
    background-size: cover;
    position: relative;

}
    
#homeinfo {
    
    margin-top: 61vh;
           
}
    
#scroll {
    
    position: fixed;
    width: 75vw;
    height: 120vh;
    border-radius: .8em;
    background-color: #ffffff;
    top: 31vh;
    left: 50%;
    transform: translate(-50%);
    overflow-y: scroll;
    background-color: rgba(255,255,255,.75)
        
}
    
#scroll::-webkit-scrollbar { 
    
    display: none; 
    
}    

#classinfo {

    padding-top: 8vh;
    height: 174vh;
        
}
    
#classinfo::-webkit-scrollbar {
    
    display: none; 
    
} 
    
#joininfo {
    
    padding-top: 3vh;
    height: 210vh;
    
}
    
#left {
        
    width: 50%;
    height: 150vh;
    float: left;
        
}
    
#right {
        
    width: 50%;
    height: 150vh;
    float: left;
        
}
    
h1 {
    
    display: none;
    
}
    
#slogan {
    
    display: none;
    
}
 
.title {
  
    position: fixed;
    top: 25vh;
    left: 19vw;
  
}

.title h2 {
    
    font-size: 2.1em;  
    font-weight: 400;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0;
    padding: 0;
     
}
    
.hometitle {
        
    width: 100%;
    position: fixed;
    margin-top: 50vh;
    text-align: center;
        
} 
    
.hometitle::after {
        
    content: "Balance Yoga is Your Personal Studio";
    font-size: 2.9em;  
    font-weight: 400;
    letter-spacing: .12em;
    
    }
    
h3 {
    
    color: rgba(0,0,0,.6);
    font-size: 1.75em;
    margin-top: 0;
    margin-bottom: .25em;
    font-weight: 700;
    
}

h4 {
    
    font-size: 1.25em;
    color: rgba(0,0,0,.7);
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    letter-spacing: .1em
        
}

h5 {
    
    display: none;
    
}
    
h6 {
    
    display: none;
    
} 

p {
    
    color: #000000;
    text-align: left;
    margin-left: 0vw;
    margin-right: 5vw;
    font-size: 1.25em; 
    font-weight: 300;
    line-height: 1.75em;   
      
}
    
.pictures {
    
 height: 24vh;
 padding-right: 2.5vw; 
 padding-bottom: .5em;
 float: left; 
    
}
    
.bottompicture {
    
 height: 23vh;
 padding-right: 2.5vw; 
 padding-bottom: 10em;
 float: left; 
    
}

aside {
        
    float: left;
    height: auto;
    margin-bottom: 5vh;
    margin-left: 5vw;
}  

    
.button {
    
    font-size: 2em;
    font-weight: 400;  
    letter-spacing: .08em;
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
    border: none;
    border-radius: .25em;
    padding: .3em 1.1em;
    opacity: .9;
    text-align: center;
    position: absolute; 
    left: 50%;
    transform: translate(-50%);
        
}

.class {
    
    color: #ffffff;
    
}
    
.hamburger {
    
    margin-top: 6vw;    
    position: fixed;
    text-align: right;   
    width: 100%;
         
}
   
.menu {
    
    margin-right: 5vw;
    display: inline-block;
    text-align: center;
        
}
    
nav {
    
    position: relative;
    
}
    
nav ul {
    
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
               
}
    
nav ul li a {
        
    display: inline-block;
    color: #ffffff;
    padding: 10px;
    font-size: 1.4em;
    letter-spacing: .12em;
    text-align: center;
    text-decoration: none;
    width: 150px;      
        
}
    
.joinbutton {
    
    width: 115px;
        
}
      
li {
    
    float: left;
         
}
    
#nav-toggle {
    
    position: absolute;
    opacity: 0;
    display: none;
    
}


form {
    
    font-size: 1.3em;
    color: #000000;
    letter-spacing: .1em;
    margin-left: 6vw;
    margin-right: 0vw;
    
}

input {
    
    width: 25vw;
    height: 1.5em;
    margin-top: .6em;
    margin-bottom: 1em;
    border-radius: .25em;
    color: #000000;
    border: none;
    
}
    
input[type="text"], textarea {

  background-color : #ffffff; 

}    

label { 
    
    display: block; 
    
}
    
    

footer {
    
    height: 12vh;
    background-color: #233348;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    
}
    
footer div.content {
       
    width: 86vw;
    height: 12vh;
    display: inline-block;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .9em;      

}
    
.col {
        
    display: inline-block;
    width: 33%;
    float: left;
    margin-top: 3vh;
    opacity: 0.5; 
        
}
    
.col::before {
           
    content: "123 Balanced Way \A Cortez, CO 81321"; 
    white-space: pre-wrap; 
    width: 100%;
    float: left;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: .07em; 
    
        
}
    
.col2 {
        
    text-align: center;
    display: inline-block;
    width: 33%;
    float: left;
    margin-top: 3vh;
    opacity: 0.5; 
        
}
    
.col2::after {
            
    content: "Copyright  Balance Yoga 2019 \A This Site is for Educational Purposes Only";
    white-space: pre-wrap; 
    width: 100%;
    float: left;
    text-align: center;
    color: #ffffff;   
    font-size: 1em;
    line-height: 1.5em;
    letter-spacing: .07em; 
      
}
    
footer a.phone {
        
    color: #ffffff;
    text-decoration: none;
    letter-spacing: .05em; 

}
    
footer a.email {
        
    color: #ffffff;
    text-decoration: none;
    letter-spacing: .09em;
    
}
    
    
footer a.facebook {    
    
    display: inline-block;
    width: 4vh;
    height: 4vh;
    margin-top: 4vh;   
    background: url(images/facebook_2.png) no-repeat;
    background-size: contain;
    opacity: 0.4;
    float: right;
       
}
    
footer a.twitter {    
    
    display: inline-block;
    width: 4vh;
    height: 4vh;
    margin-top: 4vh;
    margin-right: 1.5vh; 
    background: url(images/twitter_2.png) no-repeat;
    background-size: contain;
    opacity: 0.4;
    float: right;
        
}
    
footer a.instagram {    
    
    display: inline-block;
    width: 4vh;
    height: 4vh;
    margin-top: 4vh;
    margin-right: 1.5vh;   
    background: url(images/instagram_2.png) no-repeat;
    background-size: contain;
    opacity: 0.4;
    float: right;
        
}
    
}




